.projects__section {
  margin-bottom: 10rem;
}

.project__container {
  justify-content: center;
  align-items: center;
  margin: 5rem 10rem;
}

.projects__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image__or__iframe img {
  height: 350px;
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
  border: 10px solid var(--primary__color);
  background: #f9f9f9;
}

.projects__section .description {
  background: var(--bg__gradient__color);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.3;
  font-weight: 500;
  font-size: 17px;
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.projects__section:nth-child(even) .description {
  color: #f9f9f9;
}

.projects__section:nth-child(odd) .description {
  background: var(--bg__gradient__color);
  padding: 20px;
  border-radius: 20px;
  margin-right: -2rem;
  box-shadow: var(--box-shadow);
}

.projects__buttons {
  display: flex;
}

.projects__icon {
  font-size: 2rem;
  margin-right: 1rem;
  margin-top: 1.7rem;
  color: var(--primary__color);
  cursor: pointer;
}

.title {
  margin-bottom: 1rem;
  color: var(--primary__color);
  letter-spacing: 1px;
}

.techUsed {
  color: #000;
  text-align: center;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.tech {
  background: var(--primary__color);
  white-space: nowrap;
  padding: 5px 10px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
  font-weight: 500;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .image__or__iframe img {
    height: 300px;
  }

  .projects__section:nth-child(odd) .description {
    margin: 0;
    margin-top: -2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .image__or__iframe img {
    height: 380px;
  }

  .projects__section:nth-child(odd) .description {
    margin-top: -2rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .projects__section {
    margin-bottom: 10rem;
  }

  .image__or__iframe img {
    height: 350px;
  }

  .projects__section:nth-child(even) .description {
    color: #f9f9f9;
  }
}
